{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
             "presets": ["@babel/preset-react"]
        }
},
    "extends": [
        "react-app",
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier",
        "unused-imports"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ]
            }
        }
    },
    "rules": {
        // Prettier configs based on airbnb guide
        
    }
}
