.logo_size {
    width: 40px;
    height: 40px;
}

.container {
    width: 100%;
    height: 560px;
}

.backimg_size {
    width: 100%;
    height: 560px;
    border-radius: 5px;
    box-shadow: 0px 20px 30px #AAA;
    opacity: 1;
    transition: .5s ease;
}

.container:hover .backimg_size {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.overlay {
    position: absolute;
    bottom: 90%;
    overflow: auto;
    width: 100%;
    left: 5%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    opacity: 1;
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    position: absolute;
    width: 90%;
    font-size: 30px;
    font-weight: bold;
    top: 50%;
    word-break: break-all;
    padding: 10px;
    border: 3px solid #f1f1f1;
}

.paper {
    box-shadow: none;
    // border: 2px dashed #6a6a70;
    border-radius: 4px;
    height: fit-content;
    transform: rotateX(0deg) scale(1);
    transition: .5s all ease;
    animation: entry 01s linear 1;
    perspective: 900px;
    box-shadow: 0px 10px 10px #CCC;
}

.form {
    animation: entry 0.5s linear 1;
    border-radius: 6px;
    box-shadow: 0px 10px 10px #CCC;
}

.paper:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: .5s ease;
    z-index: 400;
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }

    100% {
        top: 0%;
    }
}

.wrapper {
    // position: relative;
    perspective: 900px;
}

.DoorDash {
    --tw-text-opacity: 1;
    color: rgb(244 67 54 / var(--tw-text-opacity));
}

.GrubHub {
    --tw-text-opacity: 1;
    color: rgb(255 152 0 / var(--tw-text-opacity));
}

.cardContent {
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    font-size: 16px;
    border-radius: 5px;
}