.text_effect {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper {
    box-shadow: none;
    border-radius: 4px;
    animation: search 0.5s linear 1;
}

.list {
    animation: search 0.5s linear 1;
}

.backButton {
    font-size: 16px;
    border-radius: 5px;
}

@keyframes search {
    0% {
        top: -20%;
        opacity: 0.1;
    }

    100% {
        top: 0%;
    }
}

.form {
    border-radius: 6px;
    box-shadow: 0px 10px 10px #CCC;
    animation: search 0.5s linear 1;
}