.paper {
    animation: entry 0.5s linear 1;
}

.form {
    border-radius: 6px;
    box-shadow: 0px 5px 5px #ccc;
    animation: entry 0.5s linear 1;
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }

    100% {
        top: 0%;
    }
}
